@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#f1f2f3] text-[#687385] dark:bg-[#1b1f22]  dark:text-[#adb5bd] overflow-x-hidden;
  }

  html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
  }
}
